html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
/*     overflow-x: relative; */
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: var(--main-paragraph);
}

h1 {
    font-family: var(--font-serif-family);
    font-size: var(--fs-800);
    font-weight: 600;
    color: var(--main-paragraph);
}

h2 {
    font-family: var(--font-serif-family);
    font-size: var(--fs-750);
    font-weight: 600;
    color: var(--main-paragraph);
}

h3 {
    font-size: var(--fs-650);
    font-weight: 600;
    color: var(--main-highlight);
}

h4 {
    font-size: var(--fs-600);
    font-weight: 500;
    color: var(--main-paragraph);
    margin-bottom: 0.25em;
    margin-top: 1em;
    font-size: var(--fs-500);
}

h5 {
    font-family: var(--font-sans-family);
    font-size: var(--fs-300);
    color: var(--header-gray);
}

h6 {
    font-family: var(--font-sans-family);
    font-size: var(--fs-200);
    color: var(--header-gray);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
/*     padding: 15px 10px; */
    background: var(--main-bg);
    background-color: var(--section-bg);
/*     border: none;
    border-radius: 0; */
    margin-bottom: 40px;
 /*    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}

#navbar ul li a {
    padding: 10px;
    font-size: var(--fs-400);
    display: block;
}

#navbar ul li a:hover {
    color: var(--other-text);
}

.nav-item{
    margin: 6px;
    display: block;
}

.nav-link{
    color: var(--main-links);
}

.active {
    color: var(--section-highlight);
    background-color: var(--button-dark);
}

.active-a{
    color: var(--other-highlight);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    padding: 24px;
    margin: 20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.sticky {
    position: sticky;
    top: 0; /* Adjust the top position as needed */
    z-index: 1; /* Adjust the z-index if necessary */
    transition: top 0.3s; /* Add a smooth transition effect */
  }

.collapse-btn{
    background-color: var(--primary-color);
}


/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */
.row {
    display:        flex;
    flex-wrap:      wrap;
    flex-direction: row;
    align-items:    flex-start;
}

.col {
    flex-basis: 0px;
    flex-grow:  1;
  }

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    /* position: fixed; */
    /* position: sticky; */
    background:  var(--section-bg);
    color: var(--main-paragraph);
    transition: all 0.3s;
    overflow: auto;
 /*    overflow-y: scroll; */
}

.sidebar-header img {
    max-height: 160px;
    width: auto;
    display: block;
    margin: 0 auto;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
/*     padding: 10px 20px 10px 20px; */
    background: var(--section-bg);
    text-align: center;
    
}

#sidebar ul.components {
    padding: 10px;
    border-bottom: 1px solid var(--main-highlight);
}

#sidebar ul h5 {
    color: var(--breaker-bay-300);
    font-weight: 600;
    /* padding: 10px; */
    margin-top: 1rem;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--other-text);
    background: var(--main-bg);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: var(--main-bg);
    color: var(--main-links);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--main-bg);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: var(--section-bg) !important;
    color: var(--main-links) !important;
}

.copyright{
    color: var(--header-gray);
    font-size: var(--fs-100);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.button-text{
    font-size: var(--fs-200);
}

.bold-text{
    font-weight: 700;
}

.other-text{
    color: var(--header-gray);
    font-size: var(--fs-200);
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /* margin-left: 20px; */
}

.color-box2 {
    display: flex;
    align-items: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 10px;
    height: 120px;
}

/*Button style*/

.btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--main-paragraph);
    background: var(--bg-secondary-500);
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    border-radius: 0;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn.btn-border-1::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid var(--shark-1000);
    border-bottom: 3px solid var(--shark-1000);
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid var(--shark-1000);
    border-right: 3px solid var(--shark-1000);
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: var(--shark-250);
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
    width: calc(100% + 6px);
    height: calc(100% + 5px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}
/*---------------------------------------------------------------------------------------------------*/
.color-details {
    flex-grow: 1;
}
  
.color-name {
    font-weight: bold;
    margin: 0;
    padding: auto;
    margin-left: 0.25rem;
}

.color-name-small {
    font-size: 0.9em;
}

.color-dark{
    color: var(--dark-text);
}

.color-code {
    margin: 0;
    margin-left: 0.25rem;
    text-transform: uppercase;
    padding: auto;
}
.section{
    margin-bottom: var(--gap-section);
}
.section-bg{
    background-color: var(--section-bg);
}
.light-card-bg{
    background-color: var(--main-light-card);
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* ---------------------------------------------------
    ICON STYLE
----------------------------------------------------- */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.custom-button.btn:nth-child(1) {
    background-color: var(--main-paragraph);
  }
  
  .custom-button.btn:nth-child(2) {
    background-color: var(--main-links);
  }
  
  .custom-button.btn:nth-child(3) {
    background-color: var(--pumpkin-400);
  }
  
  .custom-button.btn {
    margin-right: 25px; /* Adjust this value for spacing */
  }

/*DROPDOWN STYLES*/
.custom-dropdown .btn {
    background-color: var(--pumpkin-400); /* Use the custom variable */
   
    color: #fff;
    border: 1px solid #000;
  }
  
  .custom-dropdown .btn:hover {
    background-color: var(--section-card-paragraph);
    color: #fff;
    border: 1px solid #000;
  }
  
  .custom-dropdown .dropdown-toggle::after {
    content: none; /* Remove the default dropdown arrow */
    
  }
  
  
/*code block*/
  


.text-center{
  text-align: center;
}
pre{
  font-size: 12px;
  color: var(--main-paragraph);
  background-color: var(--shark-0);
  padding: 30px;
  border: 1px solid #dfe2e5;
  border-radius: 5px;

}
/* ---------------------------------------------------
    BUTTONS STYLE
----------------------------------------------------- */

.default-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--default-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.default-button:hover {
    background-color: var(--shark-900); /* background color on hover */
    color: var(--dark-text); /*text color on hover */
}

.important-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--important-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.important-button:hover {
    background-color: var(--eminence-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.accept-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accept-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.accept-button:hover {
    background-color: var(--screamin-green-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.primary-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-action-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.primary-button:hover {
    background-color: var(--breaker-bay-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.warning-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--warning-button); /* background color */
    color: var(--dark-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.warning-button:hover {
    background-color: var(--broom-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.danger-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--danger-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.danger-button:hover {
    background-color: var(--coral-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.disabled-button {
    display: inline-block;
    background-color: var(--shark-200); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: 0.5px solid var(--mystic-alpha-30);
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
    cursor: not-allowed;
    position: relative;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
}

.disable-button:hover {
    cursor: not-allowed;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


@media (max-width: 360px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .custom-button{
       /*  margin: ; */
    }
}




  

