/*
G FONTS
font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;0,5..1200,700;0,5..1200,800;0,5..1200,900;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600;1,5..1200,700;1,5..1200,800;1,5..1200,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--main-paragraph);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: var(--main-bg);
    background-color: var(--section-bg);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-link{
    color: var(--section-headline);
}

.active {
    color: var(--highlight);
    background-color: var(--main-bg);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background:  var(--section-bg);
    color: var(--main-paragraph);
    transition: all 0.3s;
}

.sidebar-header img {
    max-height: 200px;
    width: auto; /* Ensure the width adjusts proportionally */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--main-bg);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--stroke);
}

#sidebar ul h5 {
    color: var(--highlight);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--section-headline);
    background: var(--secondary);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: var(--secondary);
    color: var(--section-headline);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--tertiary-500);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: var(--tertiary-500) !important;
    color: var(--tertiary-100) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    ICON STYLE
----------------------------------------------------- */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.custom-button.btn:nth-child(1) {
    background-color: var(--section-button);
  }
  
  .custom-button.btn:nth-child(2) {
    background-color: var(--section-button-text);
  }
  
  .custom-button.btn:nth-child(3) {
    background-color: var(--highlight);
  }
  
  .custom-button.btn {
    margin-right: 25px; /* Adjust this value for spacing */
  }

/*DROPDOWN STYLES*/
.custom-dropdown .btn {
    background-color: var(--section-button); /* Use the custom variable */
   
    color: #fff;
    border: 1px solid #000;
  }
  
  .custom-dropdown .btn:hover {
    background-color: var(--section-card-paragraph);
    color: #fff;
    border: 1px solid #000;
  }
  
  .custom-dropdown .dropdown-toggle::after {
    content: none; /* Remove the default dropdown arrow */
    
  }
  
  
  
  
  
  

  

