
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.color-box2 {
    display: flex;
    align-items: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 10px;
    height: 120px;
}

/*Button style*/

.btn {
    position: relative;
    display: inline-block;
    margin: 6px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--main-paragraph);
    background: var(--bg-secondary-500);
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    border-radius: 0;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn.btn-border-1::after {
    bottom: -3px;
    right: -3px;
    border-left: 3px solid var(--shark-1000);
    border-bottom: 3px solid var(--shark-1000);
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid var(--shark-1000);
    border-right: 3px solid var(--shark-1000);
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: var(--shark-250);
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
    width: calc(100% + 6px);
    height: calc(100% + 5px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.custom-button.btn:nth-child(1) {
    background-color: var(--main-paragraph);
  }
  
  .custom-button.btn:nth-child(2) {
    background-color: var(--main-links);
  }
  
  .custom-button.btn:nth-child(3) {
    background-color: var(--pumpkin-400);
  }
  
  .custom-button.btn {
    margin-right: 25px; /* Adjust this value for spacing */
  }

/*DROPDOWN STYLES*/
.custom-dropdown .btn {
    background-color: var(--pumpkin-400); /* Use the custom variable */
   
    color: #fff;
    border: 1px solid #000;
  }
  
  .custom-dropdown .btn:hover {
    background-color: var(--section-card-paragraph);
    color: #fff;
    border: 1px solid #000;
  }
  
  .custom-dropdown .dropdown-toggle::after {
    content: none; /* Remove the default dropdown arrow */
    
  }
  
  

/* ---------------------------------------------------
    BUTTONS STYLE
----------------------------------------------------- */

.default-button {
    display: inline-block;
    background-color: var(--default-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.default-button:hover {
    background-color: var(--shark-900); /* background color on hover */
    color: var(--dark-text); /*text color on hover */
}

.important-button {
    display: inline-block;
    background-color: var(--important-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.important-button:hover {
    background-color: var(--eminence-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.accept-button {
    display: inline-block;
    background-color: var(--accept-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.accept-button:hover {
    background-color: var(--screamin-green-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.primary-button {
    display: inline-block;
    background-color: var(--primary-action-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.primary-button:hover {
    background-color: var(--breaker-bay-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.warning-button {
    display: inline-block;
    background-color: var(--warning-button); /* background color */
    color: var(--dark-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.warning-button:hover {
    background-color: var(--broom-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.danger-button {
    display: inline-block;
    background-color: var(--danger-button); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: none;
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
}

.danger-button:hover {
    background-color: var(--coral-300); /* background color on hover */
    color: var(--dark-text); /* color on hover */
}

.disabled-button {
    display: inline-block;
    background-color: var(--shark-200); /* background color */
    color: var(--light-text); /*text color */
    text-decoration: none;
    border: 0.5px solid var(--mystic-alpha-30);
    border-radius: 0;
    transition: background-color 0.3s, color 0.3s;
    cursor: not-allowed;
    position: relative;
    margin: 6px;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
}

.disable-button:hover {
    cursor: not-allowed;
}
