.codes{
    max-height: 200px;
    overflow-y: auto;
    color: var(--mystic-0);
    border: 1px solid var(--mystic-0) ;
    margin-right: 20px;
    margin-top: 50px;
}


legend{
    color:#ff8c37 ;
}

label{
    color:#ffb670 ;
}

.button-small{
    background-color: #ffb670;
}

pre{
    white-space: pre-line;
}