.grid-container{
    background-color: var(--shark-600);
}

.grid-cell{
    background: var(--main-bg);
    padding: 12px 0;
    margin: 12px 0;
    max-width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}