
/*
G FONTS
font-family: 'Playfair', serif;
font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;0,5..1200,700;0,5..1200,800;0,5..1200,900;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600;1,5..1200,700;1,5..1200,800;1,5..1200,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* COLORS VARIABLES */
    --primary-color: #ff7119;          /* Pumkin 500*/
    --secondary-color: #2fa4a8;        /* Breaker Bay 500 */
    --tertiary-color: #5f2680;         /* Eminence 900 */

    /* PRIMARY COLOR */
     --pumpkin-50: #fff7ed;
    --pumpkin-100: #ffecd4;
    --pumpkin-200: #ffd5a8;
    --pumpkin-300: #ffb670;
    --pumpkin-400: #ff8c37;
    --pumpkin-500: #ff7119; /* MAIN */
    --pumpkin-600: #f05006;
    --pumpkin-700: #c73a07;
    --pumpkin-800: #9e2e0e;
    --pumpkin-900: #7f290f;
    --pumpkin-950: #451105;

    /* INFO / SECONDARY COLOR */
    --breaker-bay-50: #f2fbfa;
    --breaker-bay-100: #d3f4f2;
    --breaker-bay-200: #a7e8e4;
    --breaker-bay-300: #73d5d4;
    --breaker-bay-400: #46b9bb;
    --breaker-bay-500: #2fa4a8; /* MAIN */
    --breaker-bay-600: #217b80;
    --breaker-bay-700: #1e6367;
    --breaker-bay-800: #1d4d52;
    --breaker-bay-900: #1c4245;
    --breaker-bay-950: #0a2629;
    
    /* TERTIARY COLOR */
    --eminence-50: #fbf6fe;
    --eminence-100: #f4eafd;
    --eminence-200: #ebd9fb;
    --eminence-300: #ddbaf8;
    --eminence-400: #c78ef2;
    --eminence-500: #b263e9;
    --eminence-600: #9d43da;
    --eminence-700: #8731bf;
    --eminence-800: #722d9c;
    --eminence-900: #5f2680; /* MAIN */
    --eminence-950: #400f5c;
    
    --bg-secondary-100: #F4F3EF;
    --bg-secondary-200: #EAE6E1;
    --bg-secondary-300: #C1BCB6;
    --bg-secondary-400: #847F7A;
    --bg-secondary-500: #33302e;
    --bg-secondary-600: #2B2521;
    --bg-secondary-700: #241B17;
    --bg-secondary-800: #1D120E;
    --bg-secondary-900: #180B08;

    /* Dark Neutrals */
    --dark-neutral-less100: #101214;
    --dark-neutral-0: #161A1D; /* dark card color */
    --dark-neutral-100: #1D2125;/* bg main */
    --dark-neutral-200: #22272B;
    --dark-neutral-250: #282E33; /* button dark */
    --dark-neutral-300: #2C333A;
    --dark-neutral-350: #38414A;
    --dark-neutral-400: #454F59;
    --dark-neutral-500: #596773;
    --dark-neutral-600: #738496;
    --dark-neutral-700: #8C9BAB;
    --dark-neutral-800: #9FADBC; /* button light */
    --dark-neutral-900: #B6C2CF;
    --dark-neutral-1000: #C7D1DB;
    --dark-neutral-1100: #DEE4EA; /* light card color */

    /* BACKGROUND COLORS */
    --main-bg: var(--dark-neutral-100);
    --section-bg: var(--dark-neutral-0);

    --main-active: var(--main-bg);

    --main-dark-card: var(--dark-neutral-0);
    --main-light-card: var(--dark-neutral-1100);

    /* FONT COLORS */
    --main-bg-text: var(--dark-neutral-1100);
    --section-bg-text: var(--dark-neutral-1100);

    --main-headline: #fffffe;
    --main-paragraph: #F4F3EF;

    --main-highlight: var(--pumpkin-500);
    --second-highlight: var(--eminence-900);

    --main-button-text: #fffffe;

    --main-card-tag: var(--pumpkin-400);
    --main-links: var(--breaker-bay-500);

    /* BUTTON COLORS */
    --button-dark-neutral: var(--dark-neutral-250);
    --button-light-neutral: var(--dark-neutral-800);

    --main-button: var(--eminence-600);
    --stroke: var(--dark-neutral-less100);

    /* OTHER COLORS */

    /* SUCCESS COLOR */
    --screamin-green-50: #eefde8;
    --screamin-green-100: #d8facd;
    --screamin-green-200: #b4f5a1;
    --screamin-green-300: #74ea56; /* MAIN */
    --screamin-green-400: #5bdf3c;
    --screamin-green-500: #3bc51d;
    --screamin-green-600: #299d13;
    --screamin-green-700: #207813;
    --screamin-green-800: #1f5f15;
    --screamin-green-900: #1d5116;
    --screamin-green-950: #0a2c07;
    
    /* WARNING COLOR */
    --broom-50: #fdfee8;
    --broom-100: #fdffc2;
    --broom-200: #feff87;
    --broom-300: #fff943;
    --broom-400: #ffeb14; /* MAIN */
    --broom-500: #efd103;
    --broom-600: #cea400;
    --broom-700: #a47604;
    --broom-800: #885b0b;
    --broom-900: #734a10;
    --broom-950: #432705;

    /* DANGER COLOR */
    --coral-50: #fff3ed;
    --coral-100: #ffe4d4;
    --coral-200: #ffc4a8;
    --coral-300: #ff9b71;
    --coral-400: #ff784f; 
    --coral-500: #fe3e11;
    --coral-600: #ef2507;
    --coral-700: #c61608; /* MAIN */
    --coral-800: #9d140f;
    --coral-900: #7e1410;
    --coral-950: #440606;

    /* font sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font families */
    --font-serif-family: 'Playfair', serif;
    --font-sans-family: 'Poppins', sans-serif;

}