html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
/*     overflow-x: relative; */
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: var(--main-paragraph);
}

h1 {
    font-family: var(--font-serif-family);
    font-size: var(--fs-800);
    font-weight: 600;
    color: var(--main-paragraph);
}

h2 {
    font-family: var(--font-serif-family);
    font-size: var(--fs-750);
    font-weight: 600;
    color: var(--main-paragraph);
}

h3 {
    font-size: var(--fs-650);
    font-weight: 600;
    color: var(--main-highlight);
}

h4 {
    font-size: var(--fs-600);
    font-weight: 500;
    color: var(--main-paragraph);
    margin-bottom: 0.25em;
    margin-top: 1em;
    font-size: var(--fs-500);
}

h5 {
    font-family: var(--font-sans-family);
    font-size: var(--fs-300);
    color: var(--header-gray);
}

h6 {
    font-family: var(--font-sans-family);
    font-size: var(--fs-200);
    color: var(--header-gray);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
/*     padding: 15px 10px; */
    background: var(--main-bg);
    background-color: var(--section-bg);
/*     border: none;
    border-radius: 0; */
    margin-bottom: 40px;
 /*    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}

#navbar ul li a {
    padding: 10px;
    font-size: var(--fs-400);
    display: block;
}

#navbar ul li a:hover {
    color: var(--other-text);
}

.nav-item{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

.nav-link{
    color: var(--main-links);
}

.active {
    color: var(--section-highlight);
    background-color: var(--button-dark);
}

.active-a{
    color: var(--other-highlight);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    padding: 24px;
    margin: 20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.sticky {
    position: sticky;
    top: 0; /* Adjust the top position as needed */
    z-index: 1; /* Adjust the z-index if necessary */
    transition: top 0.3s; /* Add a smooth transition effect */
  }

.collapse-btn{
    background-color: var(--primary-color);
}


/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */
.row {
    display:        flex;
    flex-wrap:      wrap;
    flex-direction: row;
    align-items:    flex-start;
}

.col {
    flex-basis: 0px;
    flex-grow:  1;
  }

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    /* position: fixed; */
    /* position: sticky; */
    background:  var(--section-bg);
    color: var(--main-paragraph);
    transition: all 0.3s;
    overflow: auto;
 /*    overflow-y: scroll; */
}

.sidebar-header img {
    max-height: 160px;
    width: auto;
    display: block;
    margin: 0 auto;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
/*     padding: 10px 20px 10px 20px; */
    background: var(--section-bg);
    text-align: center;
    
}

#sidebar ul.components {
    padding: 10px;
    border-bottom: 1px solid var(--main-highlight);
}

#sidebar ul h5 {
    color: var(--breaker-bay-300);
    font-weight: 600;
    /* padding: 10px; */
    margin-top: 1rem;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--other-text);
    background: var(--main-bg);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: var(--main-bg);
    color: var(--main-links);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--main-bg);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: var(--section-bg) !important;
    color: var(--main-links) !important;
}

.copyright{
    color: var(--header-gray);
    font-size: var(--fs-100);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.button-text{
    font-size: var(--fs-200);
}

.bold-text{
    font-weight: 700;
}

.data-body-text{
    font-family: var(--font-serif-family);
}

.other-text{
    color: var(--header-gray);
    font-size: var(--fs-200);
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /* margin-left: 20px; */
}

.color-box {
    display: flex;
    align-items: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 10px;
    border: 1px solid var(--section-bg);
    height: 120px;
}
  
.color-details {
    flex-grow: 1;
}
  
.color-name {
    font-weight: bold;
    margin: 0;
    padding: auto;
    margin-left: 0.25rem;
}

.color-name-small {
    font-size: 0.9em;
}

.color-dark{
    color: var(--dark-text);
}

.color-code {
    margin: 0;
    margin-left: 0.25rem;
    text-transform: uppercase;
    padding: auto;
}
.section{
    margin-bottom: var(--gap-section);
}
.section-bg{
    background-color: var(--section-bg);
}
.light-card-bg{
    background-color: var(--main-light-card);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* ---------------------------------------------------
   PRE TAG STYLE
----------------------------------------------------- */
.text-center{
    text-align: center;
}

pre{
    font-size: 12px;
    color: var(--main-paragraph);
    background-color: var(--shark-0);
    margin: 12px;
    padding: 30px;
    border: 1px solid #dfe2e5;
    border-radius: 5px;
  
}

 /* ---------------------------------------------------
   CARD STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    ICON STYLE
----------------------------------------------------- */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*list style*/

.leaders {
    list-style: none;
    padding: 0;
  }

  .leaders li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .text {
    color: var(--main-paragraph); /* Set the text color to white */
  }

  .dot {
    border-bottom: 1px dotted var(--mystic-alpha-65);
    flex-grow: 1;
  }
/*Linear List items Style */
  .list-group-item {
    color: var(--main-paragraph); /* Set text color */
    background-color: var(--shark-100); /* Set background color */
    transition: background-color 0.3s; /* Add a transition for smooth hover effect */
  }

  .list-group-item:hover {
    background-color: var(--shark-0); /* Change background color on hover */
  }

  .list-group-item {
    border: none; /* This removes the border entirely */
}

.dotted-list-item {
    list-style-type: none; /* Remove default list item marker */
  }

  .dotted-list-item::before {
    content: "\00b7"; /* Use a dot (·) or any other character you prefer */
    margin: 0 0.5rem; /* Adjust the spacing as needed */
  }

/* Define a custom class for list items with white dotted separators */
.white-dotted-list li {
    list-style-type: none; /* Remove default list item marker */
    padding: 0; /* Remove any padding or margin */
    display: flex;
    align-items: center; /* Center vertically within each list item */
  }
  
  .white-dotted-list li::before {
    content: '\00b7'; /* Use a white dot (·) or any other character you prefer */
    margin: 0 0.25rem; /* Adjust the horizontal spacing as needed */
    color: var(--main-paragraph); /* Set the color to white for the separator */
  }