body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
/*     overflow-x: relative; */
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--main-paragraph);
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

li {
    padding-left: 12px;
    padding-right: 12px;
}
/* NAVIGATION BAR */

.navbar {
    background: var(--main-bg);
    background-color: var(--section-bg);
    margin-bottom: 40px;
}

.nav-link{
    color: var(--main-links);
}

.active {
    color: var(--highlight);
    background-color: var(--main-bg);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    padding: 12px;
    margin: 5px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar img{
    padding: 6px;
}

.sticky {
    position: sticky;
    top: 0; /* Adjust the top position as needed */
    z-index: 1; /* Adjust the z-index if necessary */
    transition: top 0.3s; /* Add a smooth transition effect */
  }

/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */
.row {
    display:        flex;
    flex-wrap:      wrap;
    flex-direction: row;
    align-items:    flex-start;
}

.col {
    flex-basis: 0px;
    flex-grow:  1;
  }

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /* position: fixed; */
    position: sticky;
    background:  var(--section-bg);
    color: var(--main-paragraph);
    transition: all 0.3s;
    overflow-y: auto;
}

.sidebar-header img {
    max-height: 160px;
    width: auto; /* Ensure the width adjusts proportionally */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: var(--section-bg);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--stroke);
}

#sidebar ul h5 {
    color: var(--highlight);
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--section-headline);
    background: var(--secondary);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: var(--secondary);
    color: var(--section-headline);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--tertiary-500);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article,
a.article:hover {
    background: var(--tertiary-500) !important;
    color: var(--tertiary-100) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /* margin-left: 20px; */
}

/* ---------------------------------------------------
    ICON STYLE
----------------------------------------------------- */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}