.symbol-and-text {
    display: flex;
    align-items: center; /* Vertically center the content */
}

.material-symbols-outlined {
    font-size: 24px; /* Adjust the font size as needed */
    margin-right: 10px; /* Add some spacing between the symbol and text */
}

#account-status, #current-status {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

#account-status{
    margin: 0 0 0 11px;
}

