.tableCode{
    max-height: 500px;
    overflow-y: auto;
    color: white;
    border: 1px solid white ;
    margin-right: 20px;
}

#notes{
    font-weight: 400;
    font-size:xx-large;
    color:#f05006 ;
}

#carTable{
    background-color: rgb(47, 46, 46);
    border: 1px solid white;

}
tr , td {
    border: 1px solid white;
    color: white;
}

th{
    color: #ff8c37;
}







